body, html{
    font-size:20px;
}
.bg{
    background-image:url("../images/wumpafruit.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: 100px 100px;
    
}
#randomNumber{
    background-color: plum;
    font-size: 50px;
}
#instructions{
    background-color:blueviolet;
}